/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap'); /* Import Oswald font */

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.header-center {
  text-align: center;
  font-family: 'Oswald', sans-serif; /* Apply Oswald font */
  font-weight: 700; /* Bold font weight */
  font-size: 2.5em; /* Larger font size */
  margin-bottom: 20px; /* Add some margin below the header */
  text-transform: uppercase; /* Transform text to uppercase */
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Section Styles */
.section {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.section:last-child {
  margin-right: 0;
}

.section:hover {
  background-color: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Motorcycle Card */
.motorcycle-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.motorcycle-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Motorcycle Item */
.motorcycle-item {
  display: flex;
  align-items: center;
}

.motorcycle-image {
  width: 150px;  /* Set the desired width */
  height: auto;  /* Maintain aspect ratio */
  margin-right: 20px;
  border-radius: 8px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

/* Request Item */
.request-item {
  margin-bottom: 10px;
}

.pending-requests-title {
  display: none;
  margin-top: 20px;
}

.motorcycle-card:hover .pending-requests-title,
.motorcycle-card:hover .request-item {
  display: block;
}

/* Add styles for request buttons */
.btn {
  margin-right: 5px;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-warning {
  background-color: #ffc107;
  color: #212529;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
