/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Center the Dashboard header */
.center {
  text-align: center;
}

/* Dashboard Container */
.dashboard-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Rented and Listed Motorcycles Containers */
.rented-motorcycles,
.listed-motorcycles {
  flex: 1;
  margin-right: 20px;
}

/* Motorcycle Card */
.motorcycle-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  position: relative; /* Ensure positioning context for absolute children */
}

/* Hover Effect */
.motorcycle-card:hover {
  background-color: #f0f0f0;
  border-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Motorcycle Item */
.motorcycle-item {
  margin-bottom: 20px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

/* Request Item */
.request-item {
  margin-top: 20px;
  display: none;
  }

  /* Hover Effect to Show Pending Requests */
.motorcycle-card:hover .request-item {
  display: block;
}
