<h1>Motorcycles#update</h1>
<p>Find me in app/views/motorcycles/update.html.erb</p>

<%= simple_form_for @motorcycle, remote: true, url: edit_motorcycle_path(@motorcycle), method: :patch do |f| %>
<% end %>
